.list-students{
    padding-left: 10px;
}


button.create-student {
    background-color:aquamarine;
    
  }

  button.edit-student {
    background-color:burlywood
    
  }
  
  button.delete-student {
    background-color:darksalmon;
    
    
  }